
* {
  margin: 10; 
  padding: 0; 
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/*ESTILO TÍTULO H2 (habilidades)*/
h2.titulo {
  color: #ffffff;
  font-size: 38px;
  text-align: center;
}
/*ESTILO DO CORPO DA PÁGINA*/
body {
  background-color: black;
  height: 100vh; 
  width: 60;
}
/*ESTILO DA INTERFACE - Centraliza e limita largura o conteúdo na tela.*/
.interface {
  max-width: 1280px; 
  margin: 0 auto; 
}
/*ESTILO FLEX - Aplica layout flexível para elementos dentro de uma div.*/
.flex {
  display: flex;
}

/*BOTÃO DE CONTATO - Estilo para o botão de contato.*/
.btn-contato button {
  padding: 10px 30px; 
  font-size: 20px;
  font-weight: 500;
  background-color: #8800ff;
  border: 0;
  border-radius: 50px;
  cursor: pointer;
  color: rgb(255, 255, 255);
  transition: 0.2s;
  text-decoration: none;
  margin: 0 auto;
  display: block; 
}

/*EFEITO HOVER - Efeito quando o mouse passa sobre o botão.*/
button:hover,
form .btn-enviar input:hover {
  box-shadow: 0px 0px 9px #cc00ff;
  transform: scale(1.05); 
}

/*ESTILO DO CABEÇALHO - Configura o cabeçalho da página.*/
header {
  padding: 4%;
  font-size: 18px;
}
/*INTERFACE DO CABEÇALHO - Alinha logo e menu no cabeçalho.*/
header > .interface {
  display: flex;
  align-items: center;
  justify-content: space-between; /* item em cada canto. */
}
/*LINKS DO MENU - Estiliza os links do cabeçalho.*/
header a {
  color: rgb(125, 122, 122);
  text-decoration: none;
  display: inline-block;
  transition: 0.2s;
}
/*EFEITO HOVER NOS LINKS DO MENU - Estilo quando o mouse passa sobre o link.*/
header nav.menu-desktop a:hover {
  color: rgb(255, 255, 255);
  text-decoration: none;
  transform: scale(1.05); 
}
/*MENU DO CABEÇALHO - Estilo para os itens do menu (sem marcadores).*/
header nav ul {
  list-style-type: none;
}

header nav.menu-desktop li {
  /*Remove marcadores e coloca itens lado a lado.*/
  display: inline-block;
  padding: 0 40px;
}

/*ESTILO MENU MOBILE*/
.btn-abrir-menu i {
  color: #8800ff;
  font-size: 20px;
  line-height: 1;
}
.menu-mobile {
  background-color: black;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99999; /*por cima de td elemento menor q ele*/
  width: 0%;
  overflow: hidden;
  transition: 0.4s;
}

.menu-mobile.abrir-menu {
  /*js*/
  width: 60%;
}

.menu-mobile.abrir-menu ~ .overlay-menu {
  display: block;
}

.btn-fechar {
  padding: 20px 4%;
}
.menu-mobile .btn-fechar i {
  color: #8800ff;
  font-size: 30px;
}

.menu-mobile nav ul {
  text-align: right;
}

.menu-mobile nav li a {
  color: white;
  font-size: 20px;
  font-weight: 300;
  padding: 20px 8%;
  display: block;
}

.menu-mobile nav ul li a:hover {
  background-color: #8800ff;
}

.overlay-menu {
  background-color: #35323244;
  width: 100%;
  height: 100%;
  z-index: 88888;
  position: fixed;
  display: none;
  top: 0;
  left: 0;
}

/*ESTILO DA SEÇÃO TOPOSITE*/
section.toposite {
  padding: 40px 4%;
}

section.toposite .flex {
  /*Centraliza e separa elementos no topo.*/
  align-items: center;
  justify-content: center;
  gap: 90px;
}

.toposite h1 {
  color: #fff;
  font-size: 50px;
  line-height: 10px;
  text-align: center;
}

.toposite h4 {
  color: white;
  text-align: center;
  font-size: 25px;
}

.toposite h4 span {
  color: #8800ff;
  font-size: 25px;
  text-align: center;
}

.toposite .txt-topo-site h2 span {
  color: #8800ff;
}

.toposite .txt-topo-site h2 {
  color: #fff;
  margin: 40px 0px;
  text-align: center;
}

/*ESTILO SOBRE - Espaçamento e estilo da seção "Sobre".*/
section.sobre {
  padding: 60px 4%; /* espaçamento interno: 40px em cima/baixo e 4% nas laterais */
  margin-top: 90px;
}

/* Alinha os itens lado a lado e centraliza verticalmente */
section.sobre .flex {
  align-items: center;
  gap: 60px; /* Espaço entre imagem e texto */
}

/* Texto geral da seção sobre */
.sobre .txt-sobre {
  color: #fff; 
}

.sobre .txt-sobre h2 {
  font-size: 40px;
  color: #8800ff; 
  text-align: center;
  margin-bottom: 30px;
}

/* Parte em destaque do título (o ponto final) */
.sobre .txt-sobre h2 span {
  font-size: 40px;
  color: #ffffff;
  text-align: center;
}

/* Parágrafos do texto */
.sobre .txt-sobre p {
  margin: 20px 0; /* espaço em cima e embaixo */
  text-align: justify; 
  line-height: 1.6;
  font-size: 15px;
  color: white;
}

.sobre .img-sobre img {
  /* imagem com efeito de flutuar.*/
  position: relative;
  animation: flutuando 2s ease-in-out infinite alternate;
}

@keyframes flutuando {
  /* Define animação de flutuação.*/
  0% {
    top: 0;
  }
  100% {
    top: 30px;
  }
}
/* Estiliza os ícones de redes sociais. */
.btn-social {
  margin-top: 60px;
  display: flex; 
  justify-content: center; 
  gap: 20px; /* Espaço entre os ícones */
  color: #ffffff;
  font-size: 20px;
  margin-right: 20px;
  transition: 0.3s;
}
/* Estilo dos ícones de redes sociais (botões circulares). */
.social-icon {
  display: flex; /* alinhar ícone no centro do círculo */
  align-items: center;
  justify-content: center; 
  width: 40px; /* largura da icone */
  height: 40px; /* altura icone */
  border-radius: 50%; 
  font-size: 26px; /* tamanho do ícone */
  color: #fff; 
  transition: 0.3s ease-in-out; 
  text-decoration: none; 
}

.insta,
.linkedin,
.github,
.email {
  background-color: #8800ff;
  box-shadow: 0px 0px 8px #c583ff; 
}

/* Sombra ao passar o mouse. */
.social-icon:hover {
  transform: scale(1.15); 
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.25);
}

/*ESTILO DA SEÇÃO HABILIDADE*/
section.habilidade {
  padding: 50px 4%; 
  box-shadow: 0 0 40px 0px rgba(185, 184, 185, 0.219);
  margin-top: 50px;
}

section.habilidade .flex {
  gap: 70px;
  margin-top: 60px;
  margin-bottom: 40px;
}

section.habilidade h2.titulo span {
  color: #8800ff;
}

section.habilidade h2.titulo {
  padding: 80px 4%;
}

.habilidade .habilidade-box {
  color: white;
  padding: 30px;
  border-radius: 20px;
  font-size: 15px;
  margin-top: 30px;
  transition: 0.2s;
}

.habilidade .habilidade-box:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.492);
}

.habilidade .habilidade-box i {
  font-size: 48px;
  align-items: center;
}

.habilidade .habilidade-box h3 {
  font-size: 26px;
  margin: 15px 0;
}

/*ESTILO DA SEÇÃO PROJETO*/
section.projeto {
  padding: 50px 4%;
  box-shadow: 0 0 40px 0px rgba(185, 184, 185, 0.219);/*deslocam horiz, deslocam vert, desfoque, espalhamento, cor*/
}

section.projeto .titulo {
  color: #ffffff;
}

section.projeto h2.titulo span {
  color: #8800ff;
}

section.projeto .flex {
  justify-content: space-around;
  margin-top: 80px;
}

.img-projeto {
  width: 360px;
  height: 460px;
  background-size: cover; 
  background-position: 100% 0%; /*horiz, vertic,*/ /*posição*/
  transition: 8s;
  border-radius: 40px;
  cursor: pointer;
  position: relative;
}

.img-projeto:hover {
  background-position: 100% 100%;
}
/*camada semitransparente*/
.overlay {
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000079;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 600;
  color: white;
  opacity: 0;
  transition: 1.5s;
}

.overlay:hover {
  opacity: 1;
}
/*ESTILO DA SEÇÃO FORMULÁRIO*/
section.formulario {
  padding: 80px 4%;
}

section.formulario h2.titulo span {
  color: #8800ff;
}

form {
  max-width: 500px; 
  margin-top: 40px;
  margin: 0 auto; 
  display: flex;
  justify-content: center;
  flex-direction: column; 
  gap: 10px;
}

form input,
textarea {
  width: 100%;
  background-color: #5e5d5d57;
  border: 0;
  border-radius: 20px;
  outline: 0;
  padding: 20px 15px; /*em cima, baixo, esq, direito*/
  color: white;
  font-size: 17px;
}

form textarea {
  resize: none; /*n redimensiona*/
  max-height: 150px;
}

form .btn-enviar {
  margin-top: 20px;
  text-align: center;
}

form .btn-enviar input {
  width: 120px;
  background-color: #8800ff;
  font-weight: 700;
  cursor: pointer;
  transition: 0.2s;
}

/*ESTILO DO RODAPÉ*/
footer {
  padding: 30px 4%;
  box-shadow: 0 0 40px 0px rgba(185, 184, 185, 0.219);
}

footer .flex {
  justify-content: space-between; /*apenas c display flex*/
}

footer .line-footer p i {
  /*icones*/
  color: #8800ff;
  font-size: 22px;
  gap: 10px;
}

footer .line-footer p a {
  /*link*/
  color: rgba(255, 255, 255, 0.444);
}

/*RESPONSIVO - Ajustes para telas menores (max-width: 1232px)*/
@media screen and (max-width: 1232px) {
  /*CLASSES GERAIS*/
  .flex {
    flex-direction: column; 
  }

  /*CABEÇALHO*/
  .menu-desktop,
  .btn-contato {
    display: none; /* Oculta o menu desktop e botão de contato em telas pequenas. */
  }

  /*TOPO SITE*/
  .toposite h1 {
    font-size: 2rem; 
  }
  section.toposite {
    padding: 20px 8%;
  }

  /*SOBRE*/
  .sobre .img-sobre img {
    width: 75%;
    display: block;
    margin: 0 auto;
  }
  section.sobre {
    padding: 8%;
  }

  .social-icon {
    width: 50px;
    height: 50px;
  }

  /* ESPECIALIDADE*/
  section.habilidade {
    padding: 40px 8%;
  }

  /*LOGO*/

  .logo {
    display: block;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 1rem 0;
    height: 170px;
    width: 175px;
  }
  .logo img {
    width: 200px;
    height: auto; /* mantém a proporção da imagem */
  }

  /*PORTFOLIO*/
  section.projeto {
    padding: 80px 8%;
  }
  .img-projeto {
    width: 100%;
    max-width: 360px; 
    margin: 0 auto;
  }
  section.projeto .flex {
    gap: 50px;
  }

  /*RODAPE*/
  footer .line-footer {
    text-align: center;
  }

  .logo-footer img {
    width: 200px;
    height: auto;
  }
}
